<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.lkf.ttshop.dao.TbItemCustomMapper" >
    <resultMap id="BaseResultMap" type="com.lkf.ttshop.pojo.po.TbItem" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="sell_point as sellPoint" property="sellPoint" jdbcType="VARCHAR" />
      <result column="price" property="price" jdbcType="BIGINT" />
      <result column="num" property="num" jdbcType="INTEGER" />
      <result column="barcode" property="barcode" jdbcType="VARCHAR" />
      <result column="image" property="image" jdbcType="VARCHAR" />
      <result column="cid" property="cid" jdbcType="BIGINT" />
      <result column="status" property="status" jdbcType="TINYINT" />
      <result column="created" property="created" jdbcType="TIMESTAMP" />
      <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    </resultMap>

  <sql id="Base_Column_List" >
    i.id, i.title, i.sell_point as sellPoint, i.price,
    i.num, i.barcode, i.image, i.cid, i.status, i.created, i.updated,
    c.name as catName
  </sql>
  <sql id="Where_Clause">
    <where>
      i.status != 3
      <if test="query != null and query.title != null and query.title != '' ">
        and i.title like '%${query.title}%'
      </if>
      <if test="query != null and query.status != null and query.status != 0 ">
        and i.status = #{query.status}
      </if>
    </where>
  </sql>

  <!--商品状态为“删除”不显示到数据表格中-->
 <!-- <select id="listItemsByPage" resultType="com.lkf.ttshop.pojo.vo.TbItemCustom" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_item i
    LEFT JOIN tb_item_cat c ON i.cid=c.id
    WHERE i.status != 3
    <choose>
        <when test="order !=null and order.order != null and order.sort !=null">
          ORDER BY CONVERT(i.${order.sort} USING gbk) ${order.order}
        </when>
        <otherwise>
          ORDER  BY  i.id desc
        </otherwise>
    </choose>
    limit #{page.offset},#{page.rows}
  </select>-->
   <select id="listItemsByPage" resultType="com.lkf.ttshop.pojo.vo.TbItemCustom" >
      SELECT
      <include refid="Base_Column_List" />
      FROM tb_item i
      LEFT JOIN tb_item_cat c
     ON i.cid=c.id
     <include refid="Where_Clause"/>
     <choose>
       <when test="order != null and order.sort != null and order.order != null ">
         <foreach collection="order.orderParams" item="item" open="order by" separator="," close="" >
           i.${item}
         </foreach>
       </when>
       <otherwise>
         ORDER BY i.id DESC
       </otherwise>
     </choose>
      limit #{page.offset},#{page.rows}
    </select>

  <select id="countItems" resultType="_long" >
    SELECT
    COUNT(*)
    FROM tb_item i
    <include refid="Where_Clause"/>
    order by id desc
  </select>
  <select id="getSearchItemList" resultType="com.lkf.ttshop.pojo.vo.TbSearchItemCustom">
    SELECT
    i.id,
    i.title,
    i.sell_point as sellPoint,
    i.price,
    i.image,
    c.name as catName
    FROM
    tb_item i
    LEFT JOIN tb_item_cat c ON i.cid = c.id
    WHERE
    i.status = 1
    order by i.id desc
  </select>
  <select id="getSearchItemById" parameterType="long" resultType="com.lkf.ttshop.pojo.vo.TbSearchItemCustom">
    SELECT
    i.id,
    i.title,
    i.sell_point as sellPoint,
    i.price,
    i.image,
    c.name as catName
    FROM
    tb_item i
    LEFT JOIN tb_item_cat c ON i.cid = c.id
    WHERE
    i.status = 1
    AND i.id=#{itemid}
  </select>

</mapper>